{% extends 'meet/base.html' %}

{% block content %}
<!-- <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script> -->
    {% for room in name %}
        {% if user.username in room.name %}
            <div>
                <form id="post-form" method="POST" action="checkview">
                    {% csrf_token %}
                    <label>{{ room.name }}</label>
                    <input type="hidden" name="room_name" id= "room_name" value = {{ room.name }} width="100px" />
                    
                    <!-- <input type="text" name="username" id="username" width="100px" /> -->
                    <input type="submit" value="CHAT">
                
                {% for a in unread%}
                
                 {% if a.name == room.name %}
                        UNREAD MESSAGES: {{ a.count }}
                 {% endif %}
                {% endfor %}
                </form>
                
            </div>
        {% endif %} 
    {% endfor %}            
          


                  
   
{% endblock content %}